<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Genesis automated test framework" >
    <test name="All tests">
        <groups>
            <run>
                <include name="All"/>
            </run>
        </groups>
        <classes>
            <class name="PromUATests"/>
        </classes>
    </test>
</suite>